<div class="clear"></div>
<div class = "footer">

Perez Copyright &copy;  2020.
<h6>Disclaimer: The information in this webpage might be innacurate.</h6>
</div>
<div class="clear"></div>
</body>
</html>